<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.chaojin.comex-watchdog</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/chaojin/hermesagent/Comex Metal Daily Issue Report/scripts/comex_watchdog.py</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HERMES_TELEGRAM_TOKEN</key>
        <string>7716419389:AAH4gYTpVPe6GJvDGzhgY2z43_T98c5E--M</string>
        <key>WATCHDOG_ALERT_CHAT_ID</key>
        <string>-1003946549077</string>
    </dict>
    <key>StartCalendarInterval</key>
    <array>
        <dict><key>Hour</key><integer>22</integer><key>Minute</key><integer>30</integer></dict>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/comex-watchdog.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/comex-watchdog.err.log</string>
    <key>RunAtLoad</key>
    <false/>
    <key>KeepAlive</key>
    <false/>
</dict>
</plist>
